:root{
    --my-gradient: linear-gradient(0deg,#828be0,#9aabff);
}
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    text-decoration: none;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.mainlogo{
    width:194px;
    height:208px;
    border-bottom-left-radius: 22px;
  

    /* border: 3px solid black;   */
}
.hilogo{
    width:240px;
    height:208px;
    border-bottom-right-radius: 22px;
}
.content{
    width:100%;
    height:980px;
    background-color: antiquewhite;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:32px;
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover; 
    background-color:#ffffff;
}
.partone{
    width:580px;
    height:110px;
    margin-top:24px;
    display:flex;
    align-items: center;
    justify-content: space-between;


}
.parttwo{
    margin-top: 16px;
    width:1245px;
    height:780px;

    display:flex;
    align-items: center;
    justify-content: center;
   justify-content: space-between;
   flex-direction: column;
}
.rowone{
    width:100%;
    height:375px;

    display:flex;
    align-items: center;
    justify-content: center;
   justify-content: space-between;
}
.rowtwo{
    width:100%;
    height:355px;
    margin-top:2px;
    display:flex;
    align-items: center;
    justify-content: center;
   justify-content: space-between;
   padding-bottom:30px;
}
.sub{
    width:400px;
    height:375px;
    background-color:#f0f8ff;
    border-radius: 20px;
    border:2.5px solid black;
}
.wing{

    width:100px;
    height:125px;
}
.wingcontent{
    margin-top:15px;
    font-size:24px;
    color:#3c3e50;
    text-align: center;
    font-family: "Anton", sans-serif;
  
    font-style: normal;
    letter-spacing: 1px;
    word-spacing: 3px;
    
  }
  
  .pic{
    width: 398px;
    height:240px;
    border-radius: 17px 20px 0px 0px; 
  }
  .name{
    font-size:24px;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    color:#000016;
    margin-left:15px;
  }
  .code{
    font-size:16px;
    font-family: "Poppins", sans-serif;
    color:#00001694;
    margin-left:15px;
  }
#subbtn{
    width:355px;
    height:44px;
    border-radius:24px;
    border:0px solid black;
    background-color:#9aabff;
    color:white;
    font-size:20px;
    font-family: "Anton", sans-serif;
    font-weight:400;
    margin-left:15px;
    margin-top:5px;
}  
.sub:hover{
    filter: drop-shadow(9px 9px 0px #000000);
    margin-bottom:7px;
    margin-right:7px;
    transition: all 0.3s ease-in-out;
}
#subbtn:hover{
    background-color:#6A83FF;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 5px 8px #9aabff);
}
.footer{
    width:100%;
    height:70px;
    background-color:#000016;
    text-align: center;
    color:whitesmoke;
    font-size: 17px;
    font-family:"Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-weight: 700;
}


.navbar{
    position: relative;
    margin: 15px;
    justify-content: space-between;
    width: auto;
    font-size: 28px;
    color:#9aabff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    word-spacing: 20px;
}
nav{
    width:100%;
    height:208px;
    background-color:#eaf5ff ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    word-spacing: 30px;
    filter:drop-shadow(0px 3px 10px #00000042);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    padding: 1rem;

}
.navbar > a{
    position: relative;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 500;
    color: #828be0;
    line-height: 58px;
    z-index: 1;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color:#d0d9e0d7 ;
    font-weight:bolder;

}





.animation{
    position: absolute;
    height: 9px;
    bottom: 0;
    z-index: 0;
    border-radius: 7px;
    transition: all 0.4s ease 0s;
    background-color: #9AABFF;
    filter: drop-shadow(0px 5px 8px #9aabff);
    margin-top: 8px;
 
    width:100px;

}
.a:nth-child(1){
    width: 100px;
}
.a:nth-child(2){
    width: 190px;
}
.a:nth-child(3){
    width: 100px;
}
.a:nth-child(4){
    width: 100px;
}

nav a{
    color:#d0d9e0d7 ;
   
}


/* Specific for about */

@font-face {

    font-family: 'Supercell'; /* Choose a name for your font family */

    src:url(supercell-magic-webfont.ttf) format('truetype'); /* Include multiple formats for compatibility */

    font-weight: normal;

    font-style: normal;

}

.aboutcontent{
    width:100%;
    height:525px;
    background-color: antiquewhite;
    display:flex; 
    justify-content: center;
    align-items: center;
    padding-bottom:32px;
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover; 
    background-color:#ffffff;
}

.suggestion {
    width: 450px;
    height: 280px;
    padding: 10px; 
    background-color: #f0f8ff;
    border-radius: 20px;
    border: 2.5px solid black;
    color: black;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
              
}

.suggestion p {
    margin-bottom: 10px; 
    text-align: center;
    font-size: large;
    font-weight: normal;
}

.suggestion input {
    width: 90%;
    height: 45px;
    padding: 8px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family:"Poppins", sans-serif;

    padding-left:18px;
}

.suggestion button {
    width: 90%;
    height: 60px;
    padding: 10px;
    border-radius: 0.5rem;
    border:0px solid;
    border-radius: 0.5rem;
    background-color:#6c2ffa;
    color:white;
    font-size:20px;
    font-family: 'Supercell', sans-serif;
}
button:hover{
    background-color:#6c2ffae1;
}
.picmobile{
    display:none;
}
.subcontentmobile{
    display:none;
}

.wingmobile{
    display:none;
}
.mobilenav{
    display:none;
}
.hilogomobile{
    display:none;
}

@media only screen and (max-width: 630px){
   
    nav{
        height:112px; 
        width:100vw;
        position: fixed;
        top:0;
      
       z-index: 1000;}
     
     .aboutcontent{
         margin-top:112px;
     }
   .mobilenavwhole{
     margin-top:112px;
   }
    .mainlogo{
        width:86px;
        height:86px;
        margin-left:24px;
    }
    .hilogo{
       width:120px;
       height:100px;
        margin-top:11px;
    }
    .navbar {
        display:none;
    }
    /* .menubar{
        display:flex;
        height:28px;
        width:36px;
        margin-right:46px;
        color:#010018;
      
    } */
   
      .mobilenavwhole{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            width:100%;
            height:85.5vh;
            background-color: #EAF5FA;
            display:none;
            transition: all 0.5s ease;
      }
      .mobilenav{
        margin-top:30px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        width:100%;
        height:29vh;
      }
      .hilogomobile{
      
        display:flex;
        width:160px;
        height:130px;
        margin-left:53%;
        margin-bottom:25%;
      }
      .amobile{
        font-size: 28px;
    color:#9aabff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
 
 
      }

      
      #navtextonemobile{
        border-top:2px solid #d0d9e0d7;
        border-bottom:2px solid #d0d9e0d7;
        color:#d0d9e0d7;
      }
      #navtexttwomobile{
        border-bottom:2px solid #d0d9e0d7;
        color:#d0d9e0d7;

      }
      #navtextthreemobile{
        color:#d0d9e0d7;
      }
      #navtextfourmobile{
        border-top:2px solid #9AABFF;

        border-bottom:2px solid #9AABFF;
        
      }
  
   
    .menubarclose{
        display:flex;
        height:40px;
        width:45px;
        margin-right:46px;
        display:none;
    }
    .aboutcontent{
        width:100%;
        height:70vh;
        background-color: antiquewhite;
        display:flex; 
        justify-content: center;
        align-items: center;
        padding-bottom:32px;
        background: url("world_cloud.jpg");
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: cover; 
        background-color:#ffffff;
    }
    .suggestion {
        width: 90vw;
        height: 40vh;
        padding: 10px; 
        background-color: #f0f8ff;
        border-radius: 20px;
        border: 2.5px solid black;
        color: black;
        font-family: "Poppins", sans-serif;
        display: flex;
        flex-direction: column;  
        align-items: center;     
        justify-content: center; 
                  
    }
    
    .suggestion p {
        margin-bottom: 10px; 
        text-align: center;
        font-size:16px;
    }
    
    .suggestion input {
        width: 80%;
        height: 45px;
        padding: 8px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-family:"Poppins", sans-serif;
        padding-left:18px;
    }
    
    .suggestion button {
        width: 80%;
        height: 50px;
        padding: 10px;
        border-radius: 0.5rem;
        border:0px solid;
        border-radius: 0.5rem;
        background-color:#6c2ffa;
        color:white;
        font-size:18px;
        font-family: 'Supercell', sans-serif;
    }
    
    .footer{
        margin-top: 30px;
        font-size: 12px;
        width:100%;
        height:60;
      }}
      .burger_menu{
        padding: 0.5rem;
        display: flex;
        display: none;
        /* border: 1px solid #000; */
        /* justify-content: flex-end; */
        /* align-items: center; */
    }
    .hamburger-menu{
        /* border: 1px solid red; */
        height: 20px;
        width: 20px;
        position: relative;
        cursor: pointer;
        padding: 1rem;
    }
    .hambar{
        width: 70%;
        height: 4px;
     background-color: rgb(0, 0, 0);
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform .6s, opacity .8s, top .6s;
    }
    .bar-top{
        /* border: 1px solid red; */
        top: 25%;
    }
    .bar-bottom{
        top: 75%;
    }
    .hamburger-menu.active .bar-top{
        /* border: 1px solid red; */
        transform: translate(-50%, -50%) rotate(-315deg);
        top: 50%;
     background-color: #fc4448;
    }
    .hamburger-menu.active .bar-middle{
     background-color: #fc4448;
        /* border: 1px solid red; */
        opacity: 0;
    
    }
    .hamburger-menu.active .bar-bottom{
        /* border: 1px solid red; */
        transform: translate(-50%, -50%) rotate(-225deg);
        top: 50%;
     background-color: #fc4448;
    }
    
    /* Show hamburger menu only in mobile view */
    @media only screen and (max-width: 630px) {
        .burger_menu {
            display: flex;
        }
        .navbar {
            display: none;
        }
    }
    
    
    


