*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    text-decoration: none;
}
@font-face {

    font-family: 'Supercell'; /* Choose a name for your font family */

    src:url(supercell-magic-webfont.ttf) format('truetype'); /* Include multiple formats for compatibility */

    font-weight: normal;

    font-style: normal;

}
#navtextone {
   color: #8e98f7
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}


.mainlogo{
    width:194px;
    height:208px;
    border-bottom-left-radius: 22px;
  

    /* border: 3px solid black;   */
}
.hilogo{
    width:240px;
    height:208px;
    border-bottom-right-radius: 22px;
}
.content{
    width:100%;
    height:1000px;
    background-color: antiquewhite;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color:#ffffff;
}
.partone{
    width:600px;
    height:110px;
    margin-top:39px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right:12%;
    margin-left:3%;


}

.wing{

    width:100px;
    height:125px;
}
.wingcontent{
    margin-top:15px;
    font-size:32px;
    color:#3c3e50;
    text-align: center;
    font-family: "Anton", sans-serif;
  
    font-style: normal;
    letter-spacing: 1px;
    word-spacing: 3px;
    
  }
  
  .pic{
    width: 398px;
    height:240px;
    border-radius: 17px 20px 0px 0px; 
  }
  .name{
    font-size:24px;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    color:#000016;
    margin-left:15px;
  }
  .code{
    font-size:16px;
    font-family: "Poppins", sans-serif;
    color:#00001694;
    margin-left:15px;
  }

.footer{
    width:100%;
    height:70px;
    background-color:#000016;
    text-align: center;
    color:whitesmoke;
    font-size: 17px;
    font-family:"Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-weight: 700;
}

.navbar{
    position: relative;
    margin: 15px;
    justify-content: space-between;
    width: auto;
    font-size: 28px;
    color:#9aabff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    word-spacing: 20px;
}
nav{
    width:100%;
    height:208px;
    background-color:#eaf5ff ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    word-spacing: 30px;
    filter:drop-shadow(0px 3px 10px #00000042);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    padding: 1rem;

}
.navbar > a{
    position: relative;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 500;
    color: #828be0;
    line-height: 58px;
    z-index: 1;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color:#d0d9e0d7 ;
    font-weight:bolder;

}





.animation{
    position: absolute;
    height: 9px;
    bottom: 0;
    z-index: 0;
    border-radius: 7px;
    transition: all 0.4s ease 0s;
    background-color: #9AABFF;
    filter: drop-shadow(0px 5px 8px #9aabff);
    margin-top: 8px;
 
    width:100px;

}
.a:nth-child(1){
    width: 100px;
}
.a:nth-child(2){
    width: 190px;
}
.a:nth-child(3){
    width: 100px;
}
.a:nth-child(4){
    width: 100px;
}

nav a{
    color:#d0d9e0d7 ;
   

}

.parttwo{
    margin-top: 100px;
    width:100vw;;
    height:500px;
    display:flex;
    align-items: center;
    justify-content: center;
   margin-bottom: 30px;
   
}

.backhome{
    width:105px;
    height:60px;
    background-color: #ffffff98;
    border-radius: 100px;

    right:43%;
    position: relative;
    filter: drop-shadow(0px 2px 12px #0000004f);
    display: flex;
    justify-content: center;
    align-items: center;
}
#backhome{
    width:40px;
    height:30px;

}
.backhome:hover{
    filter: drop-shadow(0px 4px 20px #8497ff);
    background-color: #9aabff;
}
.pracsub{
    width:400px;
    height:450px;
    background-color: #EAF5FA;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
    flex-direction: column;
    font-family: 'Supercell', sans-serif;
    text-align: center;
    border-radius: 16px;
    border:4px dashed #6a83ffcb;
    justify-content: space-evenly;
    margin-bottom:180px
}
button{
    background-color: #6A83FF;
    width:180px;
    height:50px;
    font-size:18px;
    font-family:'Supercell', sans-serif;
    border:none;
    color:white;
    border-radius: 16px;
}
button:hover{
    font-size:19.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}
.wingmobile{
    display:none;
}
.mobilenav{
    display:none;
}
.hilogomobile{
    display:none;
}
@media only screen and (max-width: 630px){
    *{
        padding:0px;
        margin:0px;
        box-sizing:border-box;
        text-decoration: none;
        height:auto;
    }
    nav{
        height:112px; 
        width:100vw;
        position: fixed;
        top:0;
      
       z-index: 1000;}
     
     .content{
         margin-top:112px;
     }
   .mobilenavwhole{
     margin-top:112px;
     top:0;
     position: fixed;
    
   }
    .mainlogo{
        width:86px;
        height:86px;
      
    }
    .hilogo{
       width:120px;
       height:100px;
        margin-top:11px;
    }
    .navbar {
        display:none;
    }
    /* .menubar{
        display:flex;
        height:28px;
        width:36px;
        margin-right:46px;
        color:#010018;
      
    } */
   
      .mobilenavwhole{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            width:100%;
            height:85.5vh;
            background-color: #EAF5FA;
            display:none;
            transition: all 0.5s ease;
      }
      .mobilenav{
        margin-top:30px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        width:100%;
        height:29vh;
      }
      .hilogomobile{
      
        display:flex;
        width:160px;
        height:130px;
        margin-left:53%;
        margin-bottom:25%;
      }
      .amobile{
        font-size: 28px;
    color:#9aabff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
 
      }
      #navtextonemobile{
        border-top:2px solid #9AABFF;
        border-bottom:2px solid #9AABFF;
      color: rgb(142, 152, 247);
       
      }
      #navtexttwomobile{
        border-bottom:2px solid #d0d9e0d7;
        color:#d0d9e0d7;

      }
      #navtextthreemobile{
        color:#d0d9e0d7;
      }
      #navtextfourmobile{
        border-top:2px solid #d0d9e0d7;

        border-bottom:2px solid #d0d9e0d7;
        color:#d0d9e0d7;
      }
  
   
    .menubarclose{
        display:flex;
        height:40px;
        width:45px;
        margin-right:46px;
        display:none;
    }
    
    .content{
        width:100vw;
        height:90vh;
        background-color: antiquewhite;
        display:flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        
        background: url("world_cloud.jpg");
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-color:#ffffff;
    }
    .partone{
        width:85vw;
        margin:0px;
        margin-top:24px;
        margin-right:0px;
        
    }
    
    .backhome{
        display:none;
    }
    .wing{
        display:flex;
        width:50px;
        height:70px;
    }
    .wingcontent{
        font-size:18px;
    }
    #boxone{
        background-color: #00D0F6;
        background-image: none;
        background-size: contain;
    }
    
    .two{
        background-color: #ff005d;
        background-image: none;
        background-size: contain;
    
    }
    #boxthree{
        border: 4px dashed #F3DC3F;
        background-color: #ffd900;
        background-image: none;
        background-size: contain;
        
    }
    .sub{
        width:95vw;
        height:60px;
        border-radius:16px;
        border: 4px dashed #FA005F;
        display: flex;
        align-items: center;
        justify-content: center;
       flex-direction: column;
        box-sizing: border-box;
        
    }
    .parttwo{
        flex-direction: column;
        margin-top:10px;
        margin-bottom:10%;
        height:60vh;
        justify-content:normal;
        width:100vw;
    }
    #coverone{
        font-size:16px;
        -webkit-text-stroke-width: 4px;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #cover{
        font-size:16px;
        -webkit-text-stroke-width: 4px;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #coverthree{
        font-size:16px;
        -webkit-text-stroke-width: 4px;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .buttonarrow{
        width:35px;
        height:35px;
        display:flex;
        position:relative;
    left:32% }
    .bone{
        left:21%;
    }
    .btwo{
        left:12%;
    }
    .sub{
        border-radius: 0px;
        border-bottom-left-radius:16px ;
        border-bottom-right-radius:16px;
        
    }
   .wingcontentsub{
    display:none;
   }
   
   .unitrow{
    width:93vw;
    height:95px;
    margin-left: 0px;
  margin-top:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}
.unit{
    width:130px;
    height:85px;
    background-color:#FFC5DB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Supercell', sans-serif;;
    font-size: 12px;
    border-radius: 10px;
    border: 2px dashed #FA005F;
}

#boxone button{
    background-color: #20D0F7;
    width:118px;
    height: 38px;
}
#unitthree{
    background-color:#FAF1B4;
    border: 2px dashed #F4E054;
  
}
#boxtwo button{
    width:118px;
    height: 38px;
 
}
#boxthree button{
    width:118px;
    height: 38px;
    
    background-color: #F0D30E
}

.unit button{
    width:120px;
    height:30px;
   
    font-size:12px;
    color:white;
    font-family: 'Supercell',sans-serif;
    margin-top: 10px;
    border-radius: 10px;
    border:0px;
    background-color: #FF0061;
}
.unitrowthree{
width:95vw;
    height:95px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    margin-top:10px;
   
}
#boxone button:hover{
    
    font-size:12.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}
#boxtwo button:hover{
    font-size:12.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}
#boxthree button:hover{
    font-size:12.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}
.bigonemobile{
    background-color: #00D0F6;
        background-image: none;
        background-size: contain;
        width:95vw;
        height:60px;
        border-radius: 0px;
        border-bottom-left-radius:16px ;
        border-bottom-right-radius:16px;
        display:flex;
        align-items: center;
        justify-content: center;

}
.buttonarrowmobile{
    width:35px;
    height:35px;
    display:flex;
    position: relative;
    transform: rotate(90deg);
}
#coveronemobile{
    font-size:16px;
    -webkit-text-stroke-width: 4px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
   
    font-family:'Supercell',sans-serif;
    color:white;
    
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
    
}

.bigtwomobile{
    background-color: #ff005d;
        background-image: none;
        background-size: contain;
        width:95vw;
        height:60px;
        border-radius: 0px;
        border-bottom-left-radius:16px ;
        border-bottom-right-radius:16px;
        display:flex;
        align-items: center;
        justify-content: center;

}

#covertwomobile{
    font-size:16px;
    -webkit-text-stroke-width: 4px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
   
    font-family:'Supercell',sans-serif;
    color:white;
    
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
    
}
.bigthreemobile{
    background-color: #F0D30E;
        background-image: none;
        background-size: contain;
        width:95vw;
        height:60px;
        border-radius: 0px;
        border-bottom-left-radius:16px ;
        border-bottom-right-radius:16px;
        display:flex;
        align-items: center;
        justify-content: center;

}

#coverthreemobile{
    font-size:16px;
    -webkit-text-stroke-width: 4px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
   
    font-family:'Supercell',sans-serif;
    color:white;
    
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
    
}
#coveronead{
    display:none;
}
#covertwoad{
    display:none;
}
#coverthreead{
    display:none;
}
.bthree{
    width:35px;
    height:35px;
    display:flex;
    position:relative;
left:32% }
.footer{
    margin-top: 30px;
    font-size: 12px;
    width:100%;
    height:60;
  }
  .pracsub{
    width:90vw;
    height:650px;
    background-color: #EAF5FA;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
    flex-direction: column;
    font-family: 'Supercell', sans-serif;
    text-align: center;
    border-radius: 16px;
    border:4px dashed #6a83ffcb;
    justify-content: space-evenly;
    margin-bottom:40px
}
.pracsub p {
    font-size:14px;
}
button{
    background-color: #6A83FF;
    width:160px;
    height:40px;
    font-size:16px;
    font-family:'Supercell', sans-serif;
    border:none;
    color:white;
    border-radius: 10px;
}
button:hover{
    font-size:15px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}

}


.burger_menu{
    padding: 0.5rem;
    display: flex;
    display: none;
    /* border: 1px solid #000; */
    /* justify-content: flex-end; */
    /* align-items: center; */
}
.hamburger-menu{
    /* border: 1px solid red; */
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
    padding: 1rem;
}
.hambar{
    width: 90%;
    height: 4.3px;
 background-color: rgb(0, 0, 0);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}
.bar-top{
    /* border: 1px solid red; */
    top: 25%;
}
.bar-bottom{
    top: 75%;
}
.hamburger-menu.active .bar-top{
    /* border: 1px solid red; */
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
    background-color: #fc4448;
}
.hamburger-menu.active .bar-middle{
    /* border: 1px solid red; */
    background-color: #fc4448;
    opacity: 0;
}
.hamburger-menu.active .bar-bottom{
    /* border: 1px solid red; */
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
    background-color: #fc4448;
}

/* Show hamburger menu only in mobile view */
@media only screen and (max-width: 630px) {
    .burger_menu {
        display: flex;
    }
    .navbar {
        display: none;
    }
}
