*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    text-decoration: none;
}
@font-face {

    font-family: 'Supercell'; /* Choose a name for your font family */

    src:url(supercell-magic-webfont.ttf) format('truetype'); /* Include multiple formats for compatibility */

    font-weight: normal;

    font-style: normal;

}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.mainlogo{
    width:194px;
    height:208px;
    border-bottom-left-radius: 22px;
  

    /* border: 3px solid black;   */
}
.hilogo{
    width:240px;
    height:208px;
    border-bottom-right-radius: 22px;
}
.content{
    width:100%;
    height:980px;
    background-color: antiquewhite;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color:#ffffff;
}
.partone{
    width:600px;
    height:110px;
    margin-top:39px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right:12%;


}

.wing{

    width:100px;
    height:125px;
}
.wingcontent{
    margin-top:15px;
    font-size:26px;
    color:#3c3e50;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    word-spacing: 3px;
    
  }
  
  .pic{
    width: 398px;
    height:240px;
    border-radius: 17px 20px 0px 0px; 
  }
  .name{
    font-size:24px;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    color:#000016;
    margin-left:15px;
  }
  .code{
    font-size:16px;
    font-family: "Poppins", sans-serif;
    color:#00001694;
    margin-left:15px;
  }

.footer{
    width:100%;
    height:70px;
    background-color:#000016;
    text-align: center;
    color:whitesmoke;
    font-size: 17px;
    font-family:"Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-weight: 700;
}
.navbar{
    width:100%;
    height:208px;
    background-color:#eaf5ff ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    word-spacing: 30px;
    filter:drop-shadow(0px 3px 10px #00000042);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
nav{
    position: relative;
    margin: 15px;
    justify-content: space-evenly;
    width: auto;
    font-size: 28px;
    color:#9aabff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    word-spacing: 20px;

}
nav a{
    position: relative;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 500;
    color: #828be0;
    line-height: 58px;
    z-index: 1;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.animation{
    position: absolute;
    height: 9px;
    bottom: 0;
    z-index: 0;
    border-radius: 7px;
    transition: all 0.4s ease 0s;
    background-color: #9AABFF;
    filter: drop-shadow(0px 5px 8px #9aabff);
    margin-top: 8px;
 
    width:100px;

}
.a:nth-child(1){
    width: 100px;
}
.a:nth-child(2){
    width: 190px;
}
.a:nth-child(3){
    width: 100px;
}
.a:nth-child(4){
    width: 100px;
}

nav a{
    color:#d0d9e0d7 ;
    font-weight:bolder;
}
#navtextone{
    color:#8e98f7;
}

.parttwo{
    margin-top: 30px;
    width:1220px;
    height:690px;
    display:flex;
    align-items: center;
    justify-content: center;
   margin-bottom: 30px;
   
}

.backhome{
    width:105px;
    height:60px;
    background-color: #ffffff98;
    border-radius: 100px;

    right:43%;
    position: relative;
    filter: drop-shadow(0px 2px 12px #0000004f);
    display: flex;
    justify-content: center;
    align-items: center;
}
#backhome{
    width:40px;
    height:30px;

}
.backhome:hover{
    filter: drop-shadow(0px 4px 20px #8497ff);
    background-color: #9aabff;
}
.pracsub{
    width:400px;
    height:700px;
    background-color: #EAF5FA;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
    flex-direction: column;
    font-family: 'Supercell', sans-serif;
    text-align: center;
    border-radius: 16px;
    border:4px dashed #6a83ffcb;
    justify-content: space-evenly;
}
button{
    background-color: #6A83FF;
    width:180px;
    height:50px;
    font-size:18px;
    font-family:'Supercell', sans-serif;
    border:none;
    color:white;
    border-radius: 16px;
}
button:hover{
    font-size:19.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}