:root{
    --my-gradient: linear-gradient(0deg,#828be0,#9aabff);
}
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    text-decoration: none;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.mainlogo{
    width:194px;
    height:208px;
    border-bottom-left-radius: 22px;
  

    /* border: 3px solid black;   */
}
.hilogo{
    width:240px;
    height:208px;
    border-bottom-right-radius: 22px;
}
.content{
    width:100%;
    height:980px;
    background-color: antiquewhite;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:32px;
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color:#ffffff;
}
.partone{
    width:580px;
    height:110px;
    margin-top:24px;
    display:flex;
    align-items: center;
    justify-content: space-between;


}
.parttwo{
    margin-top: 16px;
    width:1245px;
    height:780px;

    display:flex;
    align-items: center;
    justify-content: center;
   justify-content: space-between;
   flex-direction: column;
}
.rowone{
    width:100%;
    height:375px;

    display:flex;
    align-items: center;
    justify-content: center;
   justify-content: space-between;
}
.rowtwo{
    width:100%;
    height:355px;
    margin-top:2px;
    display:flex;
    align-items: center;
    justify-content: center;
   justify-content: space-between;
   padding-bottom:30px;
}
.sub{
    width:400px;
    height:375px;
    background-color:#f0f8ff;
    border-radius: 20px;
    border:2.5px solid black;
}
.wing{

    width:100px;
    height:125px;
}
.wingcontent{
    margin-top:15px;
    font-size:23px;
    color:#3c3e50;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    word-spacing: 3px;
    
  }
  
  .pic{
    display: flex;
    width: 398px;
    height:240px;
    border-radius: 17px 20px 0px 0px; 
  }
  .name{
    font-size:24px;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    color:#000016;
    margin-left:15px;
  }
  .code{
    font-size:16px;
    font-family: "Poppins", sans-serif;
    color:#00001694;
    margin-left:15px;
  }
#subbtn{
    width:355px;
    height:44px;
    border-radius:24px;
    border:0px solid black;
    background-color:#9aabff;
    color:white;
    font-size:20px;
    font-family: "Anton", sans-serif;
    font-weight:400;
    margin-left:15px;
    margin-top:5px;
  
  }  
.sub:hover{
    filter: drop-shadow(9px 9px 0px #000000);
    margin-bottom:7px;
    margin-right:7px;
    transition: all 0.3s ease-in-out;
}
#subbtn:hover{
    background-color:#6A83FF;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 5px 8px #9aabff);
}
.footer{
    width:100%;
    height:70px;
    background-color:#000016;
    text-align: center;
    color:whitesmoke;
    font-size: 17px;
    font-family:"Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-weight: 700;
}
.navbar{
    width:100%;
    height:208px;
    background-color:#eaf5ff ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    word-spacing: 30px;
    filter:drop-shadow(0px 3px 10px #00000042);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
nav{
    position: relative;
    margin: 15px;
    justify-content: space-evenly;
    width: auto;
    font-size: 28px;
    color:#9aabff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    word-spacing: 20px;

}
nav a{
    position: relative;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 500;
    color: #828be0;
    line-height: 58px;
    z-index: 1;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.animation{
    position: absolute;
    height: 9px;
    bottom: 0;
    z-index: 0;
    border-radius: 7px;
    transition: all 0.4s ease 0s;
    background-color: #9AABFF;
    filter: drop-shadow(0px 5px 8px #9aabff);
    margin-top: 8px;
 
    width:100px;

}
.a:nth-child(1){
    width: 100px;
}
.a:nth-child(2){
    width: 190px;
}
.a:nth-child(3){
    width: 100px;
}
.a:nth-child(4){
    width: 100px;
}

nav a{
    color:#d0d9e0d7 ;
    font-weight:bolder;
}
#navtextone{
    color:#8e98f7;
}

.menubarclose{
    display:none;
}
.picmobile{
    display:none;
}
.subcontentmobile{
    display:none;
}

.wingmobile{
    display:none;
}
.mobilenav{
    display:none;
}
.hilogomobile{
    display:none;
}
.menubar{
    display:none;
}
@media only screen and (max-width: 630px){
    *{
        padding:0px;
        margin:0px;
        box-sizing:border-box;
        text-decoration: none;
        width:100vw;
    }
    .navbar{
       height:112px; 
       width:100vw;
    }
    .mainlogo{
        width:86px;
        height:86px;
        margin-left:24px;
    }
    .hilogo{
       width:120px;
       height:100px;
        margin-top:11px;
    }
    nav{
        display:none;
    }
    .menubar{
        display:flex;
        height:28px;
        width:36px;
        margin-right:46px;
        color:#010018;
      
    }
    .content{
        width:100vw;
        height:1160px;
        padding-bottom:5px;
       
       
    }
    .partone{
        width:95vw;
        height:96px;
        margin-top:24px;
        display:flex;
        align-items: center;
     
    
    
    }
    .wingtext{
        width:260px;
    }
    .wingcontent{
        font-size:15px;
        margin-top:1px;
        width:260px;
    }
    .wing{
       
        display:none;
    }
    .wingmobile{
        display:flex;
        width:40px;
        height:60px;
    }
    .parttwo{
        margin-top: 16px;
        width:360px;
        height:1010px;
    
        display:flex;
        align-items: center;
       
       justify-content: space-between;
       
    }
    .rowone{
        width:100%;
        height:490px;
    
        display:flex;
        align-items: center;
     
       justify-content: space-between;
       flex-direction: column;
       justify-items: center;
       justify-content: space-between;
    }
    .rowtwo{
        width:100%;
        height:490px;
        margin-top:2px;
        display:flex;
        align-items: center;
     
       padding-bottom:1px;
       flex-direction: column;
       justify-content: center;
       justify-content: space-between;
   
    }
    .sub{
        width:340px;
        height:141px;
        background-color:#f0f8ff;
        border-radius: 20px;
        border:2.5px solid black;
        display: flex;
        filter: drop-shadow(0px 4px 10px #00000098);
      
    }
   
    .pic{
        display:none;
    }
    .picmobile{
        width: 180px;
        height:139px;
        display: flex;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      .name{
           display:none;
      }
      .code{
        display:none;
   }

   #subbtn{
    display:none;
}

    .subcontentmobile{
        display: flex;
        flex-direction: column;
        width:141px;
      
    }
      .namemobile{
        font-size:16px;
        font-family: "Poppins", sans-serif;
        font-weight:bold;
        color:#000016;
        margin-left:15px;
        width:200px;
        margin-top: 10px;
        margin-bottom: 8px;
        width:100%;
       
      }
      .codemobile{
        font-size:15px;
        font-family: "Poppins", sans-serif;
        color:#00001694;
        margin-left:15px;
        margin-bottom: 10px;
        width:100%;
        
      }
    #subbtnmobile{
        width:130px;
        height:43px;
        border-radius:24px;
        border:0px solid black;
        background-color:#9aabff;
        color:white;
        font-size:20px;
        font-family: "Anton", sans-serif;
        font-weight:400;
        margin-left:15px;
       padding-top:6px;
       padding-bottom: 7px;
       padding-left: 19px;
       padding-right:17px;
      
        
      
      }  
      .buttonarrow{
        width:30px;
        height:22px;
      margin-left:1px;
      margin-top: 3px;
        position: absolute;
    
    
    }
      .footer{
        margin-top: 30px;
        font-size: 12px;
        width:100%;
        height:60;
      }
      .mobilenavwhole{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            width:100%;
            height:85.5vh;
            background-color: #EAF5FA;
            display:none;
      }
      .mobilenav{
        margin-top:30px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        width:100%;
        height:29vh;
      }
      .hilogomobile{
      
        display:flex;
        width:160px;
        height:130px;
        margin-left:53%;
      }
      .amobile{
        font-size: 28px;
    color:#9aabff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
 
 
      }
      #navtextonemobile{
        border-top:2px solid #9AABFF;
        border-bottom:2px solid #9AABFF;
       
      }
      #navtexttwomobile{
        border-bottom:2px solid #d0d9e0d7;
        color:#d0d9e0d7;

      }
      #navtextthreemobile{
        color:#d0d9e0d7;
      }
      #navtextfourmobile{
        border-top:2px solid #d0d9e0d7;

        border-bottom:2px solid #d0d9e0d7;
        color:#d0d9e0d7;
      }
  
   
    .menubarclose{
        display:flex;
        height:40px;
        width:45px;
        margin-right:46px;
        display:none;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
