*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    text-decoration: none;
}
@font-face {

    font-family: 'Supercell'; /* Choose a name for your font family */

    src:url(supercell-magic-webfont.ttf) format('truetype'); /* Include multiple formats for compatibility */

    font-weight: normal;

    font-style: normal;

}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.mainlogo{
    width:194px;
    height:208px;
    border-bottom-left-radius: 22px;
  

    /* border: 3px solid black;   */
}
.hilogo{
    width:240px;
    height:208px;
    border-bottom-right-radius: 22px;
}
.content{
    width:100%;
    height:1100px;
    background-color: antiquewhite;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
    background: url("world_cloud.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color:#ffffff;
}
.partone{
    width:600px;
    height:110px;
    margin-top:39px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right:9%;


}

.wing{

    width:100px;
    height:125px;
}
.wingcontent{
    margin-top:15px;
    font-size:29px;
    color:#3c3e50;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    word-spacing: 3px;
    
  }
  
  .pic{
    width: 398px;
    height:240px;
    border-radius: 17px 20px 0px 0px; 
  }
  .name{
    font-size:24px;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    color:#000016;
    margin-left:15px;
  }
  .code{
    font-size:16px;
    font-family: "Poppins", sans-serif;
    color:#00001694;
    margin-left:15px;
  }

.footer{
    width:100%;
    height:70px;
    background-color:#000016;
    text-align: center;
    color:whitesmoke;
    font-size: 17px;
    font-family:"Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-weight: 700;
}
.navbar{
    width:100%;
    height:208px;
    background-color:#eaf5ff ;
    display:flex;
    align-items: center;
    justify-content: space-between;
    word-spacing: 30px;
    filter:drop-shadow(0px 3px 10px #00000042);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
nav{
    position: relative;
    margin: 15px;
    justify-content: space-evenly;
    width: auto;
    font-size: 28px;
    color:#9aabff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    word-spacing: 20px;

}
nav a{
    position: relative;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 500;
    color: #828be0;
    line-height: 58px;
    z-index: 1;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.animation{
    position: absolute;
    height: 9px;
    bottom: 0;
    z-index: 0;
    border-radius: 7px;
    transition: all 0.4s ease 0s;
    background-color: #9AABFF;
    filter: drop-shadow(0px 5px 8px #9aabff);
    margin-top: 8px;
 
    width:100px;

}
.a:nth-child(1){
    width: 100px;
}
.a:nth-child(2){
    width: 190px;
}
.a:nth-child(3){
    width: 100px;
}
.a:nth-child(4){
    width: 100px;
}

nav a{
    color:#d0d9e0d7 ;
    font-weight:bolder;
}
#navtextone{
    color:#8e98f7;
}

.parttwo{
    margin-top: 64px;
    width:1220px;
    height:690px;
    display:flex;
    align-items: center;
    justify-content: center;
   justify-content: space-between;
   margin-bottom: 64px;
   
}
.sub{
    width:390px;
    height:670px;
    border-radius:16px;
    border: 4px dashed #FA005F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    
}
#boxone{
    border: 4px dashed #5ADCF9;
    background-image: url(class_bg.jpg);
    background-size: contain;
}

.two{
    background-color: #FFD9E7;
    background-image: url(sd_mat_bg_test.jpg);
    background-size: contain;

}
#boxthree{
    border: 4px dashed #F3DC3F;
    background-color: #FDF8DB;
    background-image: url(pyq_bg_test.jpg);
    background-size: contain;
    
}
.wingcontentsub{
   margin-bottom:40px;

    font-size:32px;
   
    text-align: center;
    font-family: "Anton", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.unitrow{
    width:440px;
    height:160px;
    margin-left: 22px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    
}
.unit{
    width:200px;
    height:130px;
    background-color:#FFC5DB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Supercell', sans-serif;;
    font-size: 20px;
    border-radius: 16px;
    border: 2px dashed #FA005F;
}
#unitone{
    background-color:#BAF0FD;
    border: 2px dashed #69DFFA;
}

#boxone button{
    background-color: #20D0F7;
    width:180px;
    height:50px;
}
#unitthree{
    background-color:#FAF1B4;
    border: 2px dashed #F4E054;
  
}
#boxtwo button{
    width:180px;
    height:50px;
 
}
#boxthree button{
    width:180px;
    height:50px;
    
    background-color: #F0D30E
}

.unit button{
    width:180px;
    height:50px;
   
    font-size:18px;
    color:white;
    font-family: 'Supercell',sans-serif;
    margin-top: 20px;
    border-radius: 16px;
    border:0px;
    background-color: #FF0061;
}
.unitrowthree{
width:500px;
    height:160px;
  
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.sub{
    border:0px;
    position: relative;
}

#cover{
    position: relative;
    text-align: center;
    font-size:40px;
    font-family:'Supercell',sans-serif;
    color:white;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
    
    
}
.two{
    background-color:rgba(0, 0, 0, 0);
}
#unitrowone{
    display:none;
 }
 #unitrowtwo{
    display:none;
 }
 #unitrowthree{
     display:none;
 }
 #wingcontentsub{
     display:none;
 }

 #coverone{
    position: relative;
    text-align: center;
    font-size:48px;
    font-family:'Supercell',sans-serif;
    color:white;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
   
}
#boxone{
    background-color:rgba(0, 0, 0, 0);
    border: 0px;
}
#unitrowoneone{
    display:none;
 }
 #unitrowtwoone{
    display:none;
 }
 #unitrowthreeone{
     display:none;
 }
 #wingcontentsubone{
     display:none;
     color:#596373;
   
 }
 #wingcontentsub{
    color:#665769
 }

 #coverthree{
    position: relative;
    text-align: center;
    font-size:40px;
    font-family:'Supercell',sans-serif;
    color:white;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
   
}
 #boxthree{
    background-color:rgba(0, 0, 0, 0);
    border: 0px;
}
#unitrowonethree{
    display:none;
 }
 #unitrowtwothree{
    display:none;
 }
 #unitrowthreethree{
     display:none;
 }
 #wingcontentsubthree{
     display:none;
     color:#656365;
 }
 #boxone button:hover{
    
    font-size:19.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}
#boxtwo button:hover{
    font-size:19.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}
#boxthree button:hover{
    font-size:19.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}
.backhome{
    width:105px;
    height:60px;
    background-color: #ffffff98;
    border-radius: 100px;

    right:43%;
    position: relative;
    filter: drop-shadow(0px 2px 12px #0000004f);
    display: flex;
    justify-content: center;
    align-items: center;
}
#backhome{
    width:40px;
    height:30px;

}
.backhome:hover{
    filter: drop-shadow(0px 4px 20px #8497ff);
    background-color: #9aabff;
}

.picmobile{
    display:none;
}
.subcontentmobile{
    display:none;
}

.wingmobile{
    display:none;
}
.mobilenav{
    display:none;
}
.hilogomobile{
    display:none;
}
.sub:hover{
    filter: drop-shadow(0px 4px 10px #00000098);
}
.buttonarrow{
    display:none;
}
.wingcontentsub{
    display:flex;
}
.bigonemobile{
    display:none;
}
.bigtwomobile{
    display:none;

}
.bigthreemobile{
    display:none;
}
.parttwo{
    display:flex;
}
.parttwomobile{
    display:none;
}

@media only screen and (max-width: 630px){
    *{
        padding:0px;
        margin:0px;
        box-sizing:border-box;
        text-decoration: none;
       
       
    }
    .parttwo{
        display:none;
    }
    .parttwomobile{
        display:flex;
    }
  
    .background{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #DEF8FE;
        border-right-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;
        border-right-color: rgb(105, 223, 250);
        border-bottom-color: rgb(105, 223, 250);
        border-left-color: rgb(105, 223, 250);
        display:none;
        height:0px;
        transition: 0.4s ease-in-out;

        border-bottom-right-radius:16px ;
        border-bottom-left-radius:16px ;
        filter: drop-shadow(0px 4px 10px #00000098);
   
    }
    .parttwomobile{
       
       
        top:40%;
        margin-bottom:50vh;
    }
    .cardone{
        transition: 0.4s ease-in-out;
    }
    #backgroundtwo{
        background-color: #FFD9E7;
        border-right-color: #FF005D;
        border-bottom-color: #FF005D;
        border-left-color: #FF005D;
    }
    #backgroundthree{
        background-color: #FDF8DB;
        border-right-color: #F0D30E;
        border-bottom-color: #F0D30E;
        border-left-color: #F0D30E;
    }
    #backgroundthree button{
        background-color:#F0D30E ;
    }
    .navbar{
       height:112px; 
       width:100vw;
    }
    .navbar{
        position: fixed;
        top:0;
      
       z-index: 1000;}
     
     .content{
         margin-top:112px;
     }
   .mobilenavwhole{
     margin-top:112px;
   }
    .mainlogo{
        width:86px;
        height:86px;
        margin-left:24px;
    }
    .hilogo{
       width:120px;
       height:100px;
        margin-top:11px;
    }
    nav{
        display:none;
    }
    .menubar{
        display:flex;
        height:28px;
        width:36px;
        margin-right:46px;
        color:#010018;
        
      
    }
   
      .mobilenavwhole{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            width:100%;
            height:85.5vh;
            background-color: #EAF5FA;
            display:none;
      }
      .mobilenav{
        margin-top:30px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        width:100%;
        height:29vh;
      }
      .hilogomobile{
      
        display:flex;
        width:160px;
        height:130px;
        margin-left:53%;
        margin-bottom:25%;
      }
      .amobile{
        font-size: 28px;
    color:#9aabff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
 
 
      }
      #navtextonemobile{
        border-top:2px solid #9AABFF;
        border-bottom:2px solid #9AABFF;
       
      }
      #navtexttwomobile{
        border-bottom:2px solid #d0d9e0d7;
        color:#d0d9e0d7;

      }
      #navtextthreemobile{
        color:#d0d9e0d7;
      }
      #navtextfourmobile{
        border-top:2px solid #d0d9e0d7;

        border-bottom:2px solid #d0d9e0d7;
        color:#d0d9e0d7;
      }
  
   
    .menubarclose{
        display:flex;
        height:40px;
        width:45px;
        margin-right:46px;
        display:none;
    }
    
    .content{
        width:100vw;
        height:120vh;
        background-color: antiquewhite;
        display:flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        
        background: url("world_cloud.jpg");
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-color:#ffffff;
    }
    .partone{
        width:85vw;
        margin:0px;
        margin-top:24px;
        
    }
    
    .backhome{
        display:none;
    }
    .wing{
        display:flex;
        width:50px;
        height:70px;
    }
    .wingcontent{
        font-size:18px;
    }
    #boxone{
        background-color: #00D0F6;
        background-image: none;
        background-size: contain;
    }
    
    .two{
        background-color: #ff005d;
        background-image: none;
        background-size: contain;
    
    }
    #boxthree{
        border: 4px dashed #F3DC3F;
        background-color: #ffd900;
        background-image: none;
        background-size: contain;
        
    }
    .sub{
        width:95vw;
        height:60px;
        border-radius:16px;
        border: 4px dashed #FA005F;
        display: flex;
        align-items: center;
        justify-content: center;
       flex-direction: column;
        box-sizing: border-box;
        
    }
    .parttwo{
        flex-direction: column;
        margin-top:10px;
        margin-bottom:10%;
        height:75vh;
        justify-content:normal;
        width:100vw;
    }
    #coverone{
        font-size:16px;
        -webkit-text-stroke-width: 4px;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #cover{
        font-size:16px;
        -webkit-text-stroke-width: 4px;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #coverthree{
        font-size:16px;
        -webkit-text-stroke-width: 4px;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .buttonarrow{
        width:35px;
        height:35px;
        display:flex;
        position:relative;
    left:32% }
    .bone{
        position: relative;
        left:21%;
    }
    .btwo{
        position: relative;
        left:13%;
    }
    .sub{
        border-radius: 0px;
        border-bottom-left-radius:16px ;
        border-bottom-right-radius:16px;
        
    }
   .wingcontentsub{
    display:none;
   }
   
   .unitrow{
    width:93vw;
    height:95px;
    margin-left: 0px;
  margin-top:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}
.unit{
    width:130px;
    height:85px;
    background-color:#FFC5DB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Supercell', sans-serif;;
    font-size: 12px;
    border-radius: 10px;
    border: 2px dashed #FA005F;
}

#unitone button{
    background-color: #20D0F7;
    width:118px;
    height: 38px;
}
#unitthree{
    background-color:#FAF1B4;
    border: 2px dashed #F4E054;
  
}
#boxtwo button{
    width:118px;
    height: 38px;
 
}
#boxthree button{
    width:118px;
    height: 38px;
    
    background-color: #F0D30E
}

.unit button{
    width:120px;
    height:30px;
   
    font-size:12px;
    color:white;
    font-family: 'Supercell',sans-serif;
    margin-top: 10px;
    border-radius: 10px;
    border:0px;
    background-color: #FF0061;
}
.unitrowthree{
width:95vw;
    height:95px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    margin-top:10px;
   
}
#boxone button:hover{
    
    font-size:12.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}
#boxtwo button:hover{
    font-size:12.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}
#boxthree button:hover{
    font-size:12.5px;
    transition:0.4s all ease-in-out; 
    filter: drop-shadow(0px 4px 10px #0000004f);
}
.bigonemobile{
    background-color: #00D0F6;
        background-image: none;
        background-size: contain;
        width:97vw;
        height:60px;
        border-radius: 0px;
        border-bottom-left-radius:16px ;
        border-bottom-right-radius:16px;
        display:flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s ease-in-out;
        

}
.buttonarrowmobile{
    width:35px;
    height:35px;
    display:flex;
    position: relative;
    transform: rotate(90deg);
}
#coveronemobile{
    font-size:16px;
    -webkit-text-stroke-width: 4px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
   
    font-family:'Supercell',sans-serif;
    color:white;
    
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
    
}

.bigtwomobile{
    background-color: #ff005d;
        background-image: none;
        background-size: contain;
        width:97vw;
        height:60px;
        border-radius: 0px;
        border-bottom-left-radius:16px ;
        border-bottom-right-radius:16px;
        display:flex;
        align-items: center;
        justify-content: center;

}

#covertwomobile{
    font-size:16px;
    -webkit-text-stroke-width: 4px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
   
    font-family:'Supercell',sans-serif;
    color:white;
    
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
    
}
.bigthreemobile{
    background-color: #F0D30E;
        background-image: none;
        background-size: contain;
        width:97vw;
        height:60px;
        border-radius: 0px;
        border-bottom-left-radius:16px ;
        border-bottom-right-radius:16px;
        display:flex;
        align-items: center;
        justify-content: center;

}

#coverthreemobile{
    font-size:16px;
    -webkit-text-stroke-width: 4px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
   
    font-family:'Supercell',sans-serif;
    color:white;
    
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
    
}
#coveronead{
    display:flex;
}
#covertwoad{
    display:none;
}
#coverthreead{
    display:none;
}
.bthree{
    width:35px;
    height:35px;
    display:flex;
    position:relative;
left:30% }
.footer{
    margin-top: 30px;
    font-size: 12px;
    width:100%;
    height:60;
  }


  
    
}